:root {
  --shadow-color: 48deg 47% 35%;
  --shadow-elevation-low: 0.7px -0.8px 0.8px hsl(var(--shadow-color) / 1),
    3.5px -4.2px 4.1px -5px hsl(var(--shadow-color) / 0.78);
  --shadow-elevation-medium: 0.7px -0.8px 0.8px hsl(var(--shadow-color) / 1),
    17.4px -20.8px 20.3px -5px hsl(var(--shadow-color) / 1);
  --shadow-elevation-high: 0.7px -0.8px 0.8px hsl(var(--shadow-color) / 1),
    13.7px -16.3px 16px -2.5px hsl(var(--shadow-color) / 1),
    104.4px -124.6px 121.9px -5px hsl(var(--shadow-color) / 0.9);
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7e49f;
  font-family: "Itim", cursive, "Courier Prime", monospace;
  font-size: 30px;
  text-align: center;
}

div {
  display: block;
}

a {
  color: #fffdd0;
  background-color: #a96e29;
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  transition: all 150ms ease-out;
}

a:hover {
  border-radius: 5px;
  padding: 12px 34px;
}

.container {
  display: grid;
  grid-template-columns: 80px auto 80px;
  padding: 80px 0;
  width: 800px;
  margin: 0 auto;
}

.question {
  height: 200px;
  grid-column: 1 / 4;
  padding-bottom: 5vh;
  padding-top: 8vh;
  color: #633004;
}

.answer {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  justify-content: space-between; /* Updated */
}

#yes {
  justify-self: start; /* Added */
  grid-column: 3;
}

#no {
  transition: all 0.5s;
  justify-self: end; /* Added */
  grid-column: 1;
}
